@import url(../bootstrap.css/bootstrap.min.css);

*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth; 
  .no-scroll {
    overflow: hidden;
  }
}

/* animaciones */

@keyframes glowing{
  0%{
    background-position: 0 0; 
  }
  50%{
    background-position: 400% 0;
  }

  100%{
    background-position: 0 0; 
  }

}
 
@keyframes show{
  from{
    opacity: 0;
    scale: 25%;
  }

  to{
    opacity: 1;
    scale: 100%;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeInAnimation 0.8s ease-in-out;
}



.img-ubi-1{

  view-timeline-name: --image ;
  view-timeline-axis: block;


  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 10% cover 40%;
  animation-fill-mode: both;
}

/* Estilos generales */


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular',  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    min-height: 100vh;
  }

  
  .container {
    max-width: 1200px;
    margin: 0 ;
    padding: 0 20px;
  }
  

  /* Estilos de la barra de navegación */


  .header {
    background-color: #4944d4;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px; 
    
  
    .logo-nombre {
      display: flex;
      align-items: center;
      margin-left: 20px;
       
      .jkl {
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;

  
        .jkl-img {
          img {
            max-height: 60px;
            border-radius: 40px;
            margin-right: 10px; 
          }
        }
      }
    }
  
    .barranav {
      
      .menu {
        list-style: none;
        padding: 0;
        display: flex;

        .nav-item {
          margin-right: 70px;
  
          a.nav-link {
            text-decoration: none;
            color: #000000;
            font-size: 18px;
            transition: color 0.3s;
  
            &:hover {
              color: #979292;
            }
          }
        }
      }
    }
  
    .menu-2 {
      list-style: none;
      display: flex;
      align-items: center;
      margin-right: 20px;
  
      .whats-cont{
        a {
          text-decoration: none;
          font-size: 24px;
          color: #47cc42;
          margin-right: 20px;
          font-size: 39px;
  
          &:hover {
            transform: scale(1.1);
          }
          &:active{
            color: #fff;
          }
        }
      }

      .email-cont {
        a {
          text-decoration: none;
          font-size: 24px;
          color: #000000;
          margin-right: 20px;
          font-size: 39px;
  
          &:hover {
            transform: scale(1.1);
          }
          &:active{
            color: #fff;
          }
        }
      }
    }
  }


.img-coti{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;


  img{
    border-radius: 40px;
  }
}
/* descripcion */

.company-description {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 35px;
  text-align: justify;
  border-bottom: 1.5px solid #000000;
  background-size: 100%;
}

p {
  font-size: 16px;
  color: #3f3e3e;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
  
}
 

/* acordeon */

.acordeon {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;

  h1{
    text-align: center;
    margin-bottom: 50px;
  }

  .acordeon-1{
    margin-bottom: 10px;
  }

  .acordeon-titulo {
      background-color: #f4f4f4;
      padding: 10px;
      display: block;
      cursor: pointer;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 5px;
      font-weight: bold;

  &:hover{
     color: #1a16f1ad; 
     transform: scale(1.010);    
  }
  }
  
  .acordeon-content {
      display: none;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 5px;
      max-height: 0; 
      overflow:hidden; 
     
  
      transition: max-height 0.3s ease-in-out;

      ul{

        li{
          margin-bottom: 10px;
        }

      }
  }
  
  input[type="checkbox"] {
      display: none;
  }
  
  input[type="checkbox"]:checked + .acordeon-titulo + .acordeon-content {
      display: block;
  }

}  


/* galeria de imagenes */


.gallery {
  text-align: center;
  padding: 90px;
  max-width: 1400px; 
  margin: 0 auto; 
  
}

.gallery-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.gallery-images {
  display: flex;
  justify-content: center;
}

.gallery-image {
  flex: 1;
  margin: 0 10px; 
  

  &:hover{
    transform: scale(0.99);
    transition: 0.5s;
    cursor: pointer;
  }
}

.gallery-image img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px; 
}




/* Secciones */


.secciones-all{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

/* form cotizaciones */
   
    /* formulario pop up */

  #abrirFormulario {
    padding: 10px 20px;
    background-color: rgb(2, 1, 66);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 80px;

    &:hover{
      background-color: rgb(0, 0, 0);
      transform: scale(0.98);
      transition: 0.5s;
    }

}

/* Contenedor del formulario pop-up */
.formulario-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(122, 112, 112);   
    margin-bottom: 200px;
    position: fixed; 
    z-index: 2; 

    a{
      text-decoration: none;
      font-size: 24px;
      color: #000000;
      font-size: 39px;

      &:hover {
        transform: scale(1.1);
      }
      &:active{
        color: #fff;
      }
    }
}

/* Estilos para el formulario dentro del pop-up */
.cotizacion {
  margin-top: 75px;
  padding: 20px;
  background-color: #37373a5e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  max-width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s; 

  .preguntas-cotizaciones{
    display: none;
    
  }

  .container {
    text-align: center;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    form {
      width: 100%;
      margin: 0 auto;

      .form-group {
        margin-bottom: 10px;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 4px;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
          width: 100%;
          padding: 8px;
          border: 1px solid #ddd;
          border-radius: 5px;
          font-size: 16px;

          &:focus {
            border-color: gray; 
          }
        }

        textarea {
          height: 100px;
        }
      }

      .button {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #ff5733;
        }
        &:active {
          background-color: #333;
          transition: background-color 0.5s;
        }
      }
    }
  }
}

.cotizacion:active {
  background-color: #807979;
  transition: 1.5s;
}


   .img-ubi-1{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    position: relative; 
    z-index: 1; 
    
    
      img{
      width: 1000px;
      border-radius: 10px ;
     }
  }  
}

/* llamadas-horarios-direccion */


.seccion-llamanos-horarios {
  width: 100%; 
  display: flex;
  flex-wrap: wrap; 
  margin-top: 20px;
  margin-bottom: 150px;
  
  .centenedor-horarios {
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px; 

    .horarios {
      text-align: center;
      margin-left: 10px;

      a{
        text-decoration: none;
      }

      .h4-horarios {
        font-size: 24px;
        margin-bottom: 10px;
        &:hover{
          color: #4944d4;
          cursor: pointer;
        }
      }

      ul.ul-horarios {
        list-style: none;
        padding: 0;

        li {
          font-size: 16px;
          margin-bottom: 8px;
        }
      }
    }
  }
  
  .centenedor-llamadas {
    flex: 1;
    padding: 20px;
    margin-bottom: 20px;   

    .llamadas {
      text-align: center;
      
      a{
        text-decoration: none;
      }
         
      .h4-llamadas {
        font-size: 24px;
        margin-bottom: 10px;
        
        &:hover{
          color: #4944d4;
          cursor: pointer;
        }
      }

      ul.ul- {
        list-style: none;
        padding: 0;
        

        li {
          font-size: 16px;
          margin-bottom: 8px;
        }
      }
    }
  }

  .contenedor-direccion {
    flex: 1;
    padding: 20px;
    margin-bottom: 20px; 
    

    .direccion {
      text-align: center;  
      
      a{
        text-decoration: none;
      }

      .h4-direccion {
        font-size: 24px;
        margin-bottom: 10px;
        &:hover{
          color: #4944d4;
          cursor: pointer;
        }
      }

      ul.ul- {
        list-style: none;
        padding: 0;
        

        li {
          font-size: 16px;
          margin-bottom: 8px;
        }
      }
    }
  }
  
}



 /* footer */
.footer {
  color: #000000;
  border-top: 1px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;

      ul {
        margin-top: 15px;
        list-style: none;
        padding: 0;
        

       
        li {
          display: inline-block;
          margin: 20px;
          


          a {
            color: #000000;
            font-size: 24px;
            text-decoration: none;

            &:hover {
              color: #FFC107;
            }
          }
        }
      }
    
  
}
     
  /* medias */

  @media (min-width: 1150px){
    .header{

      .barranav ul{

        margin-left: 160px;

      }

    }
  }


  @media (max-width: 1150px){

    .header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .logo-nombre{  
        margin-right: 20px;     
      }

      .barranav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 40px;
        min-width: none;
      }
      .menu{
        margin-left: none;
        min-width: 0;
        

        .nav-item{
          margin-left: 20px;
          padding: 20px;
        }
      }
    }

    .gallery-images {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .secciones-all{
      display: flex;
      flex-direction: column;

      .img-ubi-1{
        img{
          width: 700px;
        }
      }            
    }    
  }
 
  @media (max-width: 720px){

    .header{
      display: flex;
      flex-direction: column;
      justify-content: center;

      .barranav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 40px;
        min-width: none;
      }
      .menu{
        margin-left: 0;
        min-width: 0;
        margin-bottom: 15px;
        .nav-item{
          padding: 20px;
        }
      }
    }

    .secciones-all{
      display: flex;
      flex-direction: column;

      .img-ubi-1{
        img{
          width: 320px;
        }
      }      
    }

    .img-coti{
      img{
        width: 310px;
      }
    } 

    .footer{
    }

    .seccion-llamanos-horarios{
      display: flex;
      flex-direction: column;

      ul{
        margin-right: 30px;
      }
    }
  }
     